<!-- begin css palpites -->
         
                #palpites .tabela {
                    padding: 0;
                }
                #palpites .tabela-tb {
                    font-size: 17px;
                    position: absolute;
                }
                #palpites .tabela-resultados {
                    font-size: 14px;
                    width: 100%;
                }
                #palpites .tabela-scroll {
                    opacity: 1; 
                    padding-left: 50%;
                }
                #palpites .tabela-head-linha {
                    border-bottom: 1px solid #c0c0c0;
                    border-top: 1px solid #ddd;
                    color: #999;
                    font-size: 9px;
                    height: 30px;
                }
                #palpites .tabela-head{
                    line-height: 10px;
                    text-align: left;
                    text-transform: uppercase;
                }
                #palpites .tabela-body-linha {
                    height: 45px;
                    border-bottom: solid 1px #ddd;
                }
                #palpites .tabela-body-linha td {
                    background-color: #fcfcfc;
                    line-height: 14px;
                }
                #palpites .tabela-body-linha button {
                    width: 92px;
                }
                #palpites .tabela td {
                    vertical-align: middle;
                }
                #palpites .tabela-posicao {
                    letter-spacing: -2px;
                    text-align: center;
                }
                #palpites .tabela-avatar {
                    letter-spacing: -1px;
                }
                #palpites .tabela-avatar img {
                    width: 25px;
                }
                #palpites .tabela-jogador {
                    letter-spacing: -1px;
                }
                #palpites .tabela-times-time-nome {
                    display: inline-block;
                    font-weight: normal;
                }
                #palpites .tabela-resultados td:nth-child(odd) {
                    background-color: #f5f5f5;
                }
                #palpites .tabela-resultados td {
                    padding-top: 2px;
                }
                #palpites .tabela-resultados .tabela-head-linha, .tabela-resultados .tabela-body-linha {
                    text-align: center;
                }
                #palpites .tabela-resultados .tabela-head-linha th, .tabela-resultados .tabela-body-linha th {
                    text-align: center;
                }

                @media only screen and (min-width: 320px) {
                    #palpites .tabela-tb {
                        width: 23%;
                    }
                    #palpites .tabela-posicao {
                        width: 10%;
                    }
                    #palpites .tabela-avatar {
                        width: 100%;
                        text-align: center;
                    }
                    #palpites .tabela-jogador {
                        width: 60%;
                    }
                    #palpites .tabela-scroll {
                        padding-left: 25%;
                    }
                    #palpites .tabela-resultados .tabela-body-linha td {
                        width: 33%;
                    }
                    #palpites .tabela-apostar {
                        display: none;
                    }
                    #palpites .tabela-body-linha button {
                        width: 40px;
                    }
                    #palpites .tabela-times-time-nome {
                        display: none;
                    }
                }

                @media only screen and (min-width: 375px) {
                    #palpites .tabela-tb {
                        width: 21%;
                    }
                    #palpites .tabela-posicao {
                        width: 10%;
                    }
                    #palpites .tabela-avatar {
                        width: 100%;
                    }
                    #palpites .tabela-jogador {
                        width: 60%;
                    }
                    #palpites .tabela-scroll {
                        padding-left: 23%;
                    }
                    #palpites .tabela-resultados .tabela-body-linha td {
                        width: 33%;
                    }
                    #palpites .tabela-apostar {
                        display: none;
                    }
                    #palpites .tabela-body-linha button {
                        width: 40px;
                    }
                }

                @media only screen and (min-width: 480px) {
                    #palpites .tabela-tb {
                        width: 47%;
                    }
                    #palpites .tabela-posicao {
                        width: 10%;
                    }
                    #palpites .tabela-avatar {
                        width: 20%;
                    }
                    #palpites .tabela-jogador {
                        width: 80%;
                    }
                    #palpites .tabela-scroll {
                        padding-left: 51%;
                    }
                    #palpites .tabela-resultados .tabela-body-linha td {
                        width: 33%;
                    }
                    #palpites .tabela-apostar {
                        display: none;
                    }
                    #palpites .tabela-body-linha button {
                        width: 40px;
                    }
                    #palpites .tabela-times-time-nome {
                        display: block;
                    }
                }

                @media only screen and (min-width: 568px) {
                    #palpites .tabela-tb {
                        width: 47%;
                    }
                    #palpites .tabela-posicao {
                        width: 10%;
                    }
                    #palpites .tabela-avatar {
                        width: 20%;
                    }
                    #palpites .tabela-jogador {
                        width: 80%;
                    }
                    #palpites .tabela-scroll {
                        padding-left: 49%;
                    }
                    #palpites .tabela-resultados .tabela-body-linha td {
                        width: 33%;
                    }
                    #palpites .tabela-apostar {
                        display: none;
                    }
                    #palpites .tabela-body-linha button {
                        width: 40px;
                    }
                    #palpites .tabela-times-time-nome {
                        display: block;
                    }
                }

                @media only screen and (min-width: 667px) {
                    #palpites .tabela-tb {
                        width: 41%;
                    }
                    #palpites .tabela-posicao {
                        width: 10%;
                    }
                    #palpites .tabela-avatar {
                        width: 20%;
                    }
                    #palpites .tabela-jogador {
                        width: 80%;
                    }
                    #palpites .tabela-scroll {
                        padding-left: 42%;
                    }
                    #palpites .tabela-resultados .tabela-body-linha td {
                        width: 33%;
                    }
                    #palpites .tabela-apostar {
                        display: inline-block;
                    }
                    #palpites .tabela-body-linha button {
                        width: 92px;
                    }
                    
                }

                @media only screen and (min-width: 768px) {
                    #palpites .tabela-tb {
                        width: 40%;
                    }
                    #palpites .tabela-posicao {
                        width: 10%;
                    }
                    #palpites .tabela-avatar {
                        width: 13%;
                    }
                    #palpites .tabela-jogador {
                        width: 77%;
                    }
                    #palpites .tabela-scroll {
                        padding-left: 41%;
                    }
                    #palpites .tabela-resultados .tabela-body-linha td {
                        width: 33%;
                    }
                    #palpites .tabela-apostar {
                        display: inline-block;
                    }
                    #palpites .tabela-body-linha button {
                        width: 92px;
                    }
                }

                @media only screen and (min-width: 1024px) {
                    #palpites .tabela-tb {
                        width: 46%;
                    }
                    #palpites .tabela-posicao {
                        width: 20%;
                    }
                    #palpites .tabela-avatar {
                        width: 20%;
                    }
                    #palpites .tabela-jogador {
                        width: 60%;
                    }
                    #palpites .tabela-scroll {
                        padding-left: 49%;
                    }
                    #palpites .tabela-resultados .tabela-body-linha td {
                        width: 33%;
                    }
                    #palpites .tabela-apostar {
                        display: none;
                    }
                    #palpites .tabela-body-linha button {
                        width: 40px;
                    }
                }

                @media only screen and (min-width: 1440px) {
                    #palpites .tabela-tb {
                        width: 35%;
                    }
                    #palpites .tabela-posicao {
                        width: 20%;
                    }
                    #palpites .tabela-avatar {
                        width: 20%;
                    }
                    #palpites .tabela-jogador {
                        width: 60%;
                    }
                    #palpites .tabela-scroll {
                        padding-left: 39%;
                    }
                    #palpites .tabela-resultados .tabela-body-linha td {
                        width: 33%;
                    }
                    #palpites .tabela-apostar {
                        display: inline-block;
                    }
                    #palpites .tabela-body-linha button {
                        width: 92px;
                    }
                }

<!-- end css palpites -->